/* styles that apply to just the interactive aquarium */
html {
    /* fullscreen, no scrolling */
    height: 100dvh;
    overflow: hidden;
}

.fade {
    opacity: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}

#title-header {
    position: absolute;
    top: 5vmin;
    width: 100%;
    text-align: center;
    font-size: 4vmin;

    color: white;
}

nav {
    position: absolute;
    top: 5vmin;
    width: 100%;
}

nav a {
    font-size: 2.5vmin;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s opacity ease;

    /* background-color: rgba(55, 55, 55, 0.3); */
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), linear-gradient(180deg, rgba(130,203,255,1) 0%, rgba(211,255,233,1) 100%);
}

#loader .spinner-container {
    position: relative;
    width: min(500px, 80vw);
    height: min(500px, 80vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loader .spinner-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading-spinner;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    pointer-events: none;
}

#loader.done .spinner-container img {
    animation: none;
}

#loader .spinner-container label {
    color: white;
    font-family: 'Rowdies', sans-serif;
    font-size: 3vmin;
    margin-bottom: 0.5em;
    animation: loading-label;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
#loader .spinner-container progress {
    height: 2px;
    width: 30%;

    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

#loader .spinner-container progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

#loader .spinner-container progress[value]::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 1);
}

#loader button {
    appearance: none;
    padding: 0.5em 1em;
    border: 0;

    font-family: 'ADLaM Display';
    color: #074f80;
    font-size: 2.5vmax;

    cursor: pointer;
}

#quality-settings {
}

#overlay-toggle {
}

#back-to-top {
    position: absolute;
    background-image: url(../images/fish_bob.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 4vmax;
    bottom: 2vmax;
    width: 5vmax;
    height: 5vmax;
    border: none;

    appearance: none;
    cursor: pointer;
}

#back-to-top::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 20vmax;
    bottom: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

#back-to-top span {
    position: absolute;
    width: 9vmax;
    bottom: calc(100% + 0.75vmax);
    background: white;
    padding: 0.5em;
    border-radius: 1em;
    transform: translateX(-50%);
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity ease 0.5s;
    opacity: 0;
}

[role="dialog"][aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
}

#fish-details-dialog {
    width: 80vmin;
    height: 80dvh;
    padding: 2em;
    box-sizing: border-box;

    background: white;

    transition: 0.5s transform ease, 0.5s opacity ease;
    transform: translateY(25%);
    opacity: 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.details-dialog-fish {
    width: 100%;
}

.details-dialog-fish.size_S {
    width: 60%;
}
.details-dialog-fish.size_M {
    width: 80%;
}
.details-dialog-fish.size_L {
    width: 100%;
}

.dialog-container:not([aria-hidden="true"]) #fish-details-dialog, 
.dialog-container:not([aria-hidden="true"]) .dialog-overlay {
    transform: translateY(0);
    opacity: 1;
}

@keyframes loading-spinner {
    0% { transform: scale(1) rotate(0deg); }
    35% { transform: scale(1.1) rotate(180deg); }
    70% { transform: scale(1) rotate(360deg); }
    100% { transform: scale(1) rotate(360deg); }
}
@keyframes loading-label {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}