html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

html {
    /* fullscreen, no scrolling */
    height: 100dvh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loader label {
    color: white;
}

#quality-settings {
    /* TODO: temp placement for now */
    position: absolute;
    right: 0;
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity ease 0.5s;
    opacity: 0;
}

[role="dialog"][aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
}

#fish-details-dialog {
    width: 80vmin;
    height: 80dvh;
    padding: 2em;
    box-sizing: border-box;

    background: white;

    transition: 0.5s transform ease, 0.5s opacity ease;
    transform: translateY(25%);
    opacity: 0;
}

.dialog-container:not([aria-hidden="true"]) #fish-details-dialog, 
.dialog-container:not([aria-hidden="true"]) .dialog-overlay {
    transform: translateY(0);
    opacity: 1;
}